@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--claro);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {

  background: linear-gradient(90deg,rgb(9, 9, 11) 0%, rgb(11, 11, 51) 35%, rgb(113, 4, 4) 100%);
}

.navegacao {
    background: rgba(15, 23, 42, 0.7);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.menu {
    display: flex; 
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

.menu-link {
    color: var(--claro);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.6s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    gap: 1rem;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);   
    animation: flutuar 3s ease-in-out infinite; 
}

h1 {
    font-size: 3rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.8rem;
    color: var(--claro);
}

.sobre {
    padding: 1rem;
}

.sobre-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
    padding: 0.5rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05)
}

.sobre-paragrafo {
    align-items: center;
    font-size: 1.1rem;
}

.projetos {
    padding: 6rem 2rem;   
}


.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projeto-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro); 
    overflow: hidden;
    transition: all 0.6s ease;
    cursor: pointer;
    animation: flutuar 5s ease-in-out infinite; 
}

.projeto-card:hover {
    box-shadow: 0 10 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
}

.caixa-textos-projeto {
    padding: 1.2rem;
}

.projeto-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.info-projetos {
   margin-bottom: 5px;
}

.contatos {
padding: 6rem 2rem;
}

.contatos-titulo {
 text-align: center;
 font-size: 2.5rem;
 margin-bottom: 30px;
}

.formulario-contatos {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 14px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--vidro);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    color: var(--claro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 5px var(--primaria);
}

.grupo-form {
    margin-bottom: 1.5rem;

}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
}

.botao-form:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
} 

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%), var(--maisescuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
    
}

